{% extends "home.html" %}
{% block books %}
		<h1><strong><center><a href="/kill"><img src="/static/img/Mute.png" width="50" height="50"></a><div id="showbooks" style="display:inline"> <img src="/static/books/beauty.jpg" width="166.5" height="250"><img src="/static/more.png" height="50" width="50" align="right"></h1></div>
  		<div class="hidden" id="books">
		<p><a href="/beauty"><img src="/static/books/beauty.jpg" width="166.5" height="250"></a>
		<a href="/cinderella"><img src="/static/books/Cinderella.jpg" width="166.5" height="250"></a>
		<a href="/mermaid"><img src="/static/books/mermaid.jpg" width="166.5" height="250"></a>
		<a href="/snowwhite"><img src="/static/books/snowwhite.jpg" width="166.5" height="250"></a></p>
		<a href="/tangled"><img src="/static/books/tangled.jpg" width="166.5" height="250"></a></p>
		</div>
{% endblock %}