{% extends "home.html" %}
{% block cd %}
		<h1><strong><center><a href="/kill"><img src="/static/img/Mute.png" width="50" height="50"></a><div id="showcd" style="display:inline"> <img src="/static/img/frozen.jpg" width="166.5" height="164"><img src="/static/more.png" height="50" width="50" align="right"></h1></div>
  		<div class="hidden" id="cd">
		<p><a href="/disney"><img src="/static/img/disney.jpg" width="166.5" height="164"></a>
		<a href="/princess"><img src="/static/img/princess.jpg" width="166.5" height="164"></a>
		</p>
		</div>
{% endblock %}