{% extends "home.html" %}
{% block radio %}
<h1><strong><center><a href="/kill"><img src="/static/img/Mute.png" width="50" height="50"></a><div id="showradio" style="display:inline"><img src="/static/img/jack.jpg" width="100" height="100"><img src="/static/more.png" height="50" width="50" align="right"></h1></div>
  		<div class="hidden" id="radio">
		<p><a href="/radio1"><img src="/static/img/r1.jpg" width="100" height="100"></a>
		<a href="/jack"><img src="/static/img/jack.jpg" width="100" height="100"></a>
		<a href="/heart"><img src="/static/img/heart.jpg" width="100" height="100"></a>
		<a href="/absolute"><img src="/static/img/absolute.jpg" width="100" height="100"></a></p>
		</div>
{% endblock %}