{% extends "home.html" %}
{% block lightchange %}


  	<h1>

<center><a href="/off"><img src="/static/off.png" width="60" height="60" align="left"></a><div id="showcanvas" style="display:inline"><strong> 
{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
     <div class="flashes" style="display:inline">
 	{{ message }} 
    {% endfor %}
    </div>
  {% else %}
  Light
  {% endif %}
{% endwith %}

</strong><img src="/static/more.png" height="50" width="50" align="right"></center></h1></div>

<div id="buttons" class="hidden"><center>
	<a href="/lighton/blue"><img src="/static/blue.png" height="100" width="110"></a><a href="/lighton/red"><img src="/static/red.png" height="100" width="110"></a><a href="/lighton/yellow"><img src="/static/yellow.png" height="100" width="110"></a>
	<br>
	<a href="/lighton/green"><img src="/static/green.png" height="100" width="110"></a><a href="/lighton/white"><img src="/static/white.png" height="100" width="110"></a><a href="/lighton/orange"><img src="/static/orange.png" height="100" width="110"></a>
	</center>
	<p><center><button id="showwords">View</button></center></p></div>
<div id="words"><br>
	<center><p><a class="button-link" href="/lighton/blue">BLUE / blue</a>&nbsp;<a class="button-link" href="/lighton/red">RED / red</a>&nbsp;<a class="button-link" href="/lighton/yellow">YELLOW / yellow</a>
	</p><br>
	<p><a class="button-link" href="/lighton/green">GREEN / green</a>&nbsp;<a class="button-link" href="/lighton/white">WHITE / white</a>&nbsp;<a class="button-link" href="/lighton/orange">ORANGE / orange</a>
	</p></center><br>
	<p><center><a href="/home.html"><button>View</button></center></a></p>	
</div>	
	<script>
	$("#showcanvas").click(function(){
	  $("#canvas").toggle();
	});

	$("#showwords").click(function(){
	  $("#words").show();
	  $("#words1").show();
	  $("#buttons").hide();
	});
	$("#showbuttons").click(function(){
	  $("#words").hide();
	  $("#words1").hide();
	  $("#buttons").show();
	});
	</script>
{% endblock %}